Repository evilmartians/harmony: changes, and which lefthook commands are due for each by the changed paths.
All: 1_lint, 2_format

1_lint:
  run: deno lint --fix {staged_files}
  stage_fixed: true

2_format:
  run: deno fmt {staged_files}
  stage_fixed: true

Add tests workflow and report tests to codecov
  .github/workflows/tests.yaml
  .gitignore
  deno.json
Due: 2_format

Update dependency management strategy to Deno 2
  deno.json
  deno.lock
  package.json
  scripts/build.ts
  scripts/deps.ts
  scripts/targets/base.ts
  scripts/targets/cssVariables.ts
  scripts/targets/cssVariables_test.ts
  scripts/targets/tailwind-v4.ts
  scripts/targets/tailwind.ts
  scripts/targets/testUtils.ts
Due: 1_lint, 2_format

Clean up outdated workflows
  .github/workflows/lint.yml
  .github/workflows/publish.yml.disabled
Due: none

Set package as ESM-frist and add Publint to better monitor package.json correctness
  .changeset/soft-balloons-serve.md
  deno.json
  deno.lock
  package.json
  scripts/targets/__snapshots__/base_test.ts.snap
  scripts/targets/__snapshots__/tailwind_test.ts.snap
  scripts/targets/base.ts
  scripts/targets/base_test.ts
  scripts/targets/tailwind.ts
  scripts/targets/tailwind_test.ts
Due: 1_lint, 2_format

Add changesets workflow & documentation
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets.yaml
  .gitignore
  README.md
  deno.json
  deno.lock
  package.json
Due: 2_format

Set up package provenence
  package.json
Due: 2_format

Fix tests.yaml paths typo
  .github/workflows/tests.yaml
Due: 2_format

Add quick info badges to README top
  README.md
Due: 2_format

Remove codecov and test os matrix
  .github/workflows/tests.yaml
  README.md
Due: 2_format

Refactor test and snapshots to colocate next to source file
  scripts/builder.test.ts
  scripts/targets/base/__snapshots__/base.test.ts.snap
  scripts/targets/base/base.test.ts
  scripts/targets/css/__snapshots__/css.test.ts.snap
  scripts/targets/css/css.test.ts
  scripts/targets/tailwind/__snapshots__/tailwind.test.ts.snap
  scripts/targets/tailwind/tailwind.test.ts
  tests/base.test.ts
  tests/css.test.ts
  tests/tailwind.test.ts
Due: 1_lint, 2_format

Fix package.json to enable importmap pin as per https://github.com/rails/importmap-rails/issues/290
  package.json
Due: 2_format

Add Harmonizer link
  README.md
Due: 2_format

docs: improve Tailwind integration guide to avoid config overrides
  .changeset/happy-balloons-rescue.md
  README.md
Due: 2_format

Update the readme
  README.md
Due: 2_format

Update README.md
  README.md
Due: 2_format

Update Built by badge
  README.md
Due: 2_format

Path conditions:
  1_lint: any of: *.ts
  2_format: any of: *.{ts,json,md,yaml}
